@import 'tailwindcss';
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");


@theme {
    --font-janger: 'Janger', serif;
    --font-Barlow-Semi-Condensed: "Barlow Semi Condensed", sans-serif;
    --font-Hammersmith-One: "Hammersmith One", sans-serif;
    --color-primary: #2DCDFF;
    --color-lightGray: #909090;
    --color-secondary: #000080;
    --color-bg-secondary: #E3E3E3;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


@font-face {
    font-family: Janger;
    font-style: normal;
    font-display: swap;
    src: url('/public/fonts/janger.otf');
}


@layer base {
    .img-shadow {
        filter: drop-shadow(40px 10px 25px #2DCDFF);
      }
}